 
 /* Hago que el navegador no me reemplace los espacios en blanco por uno solo */
 input[type="date"]{
    width:400px;
    white-space: pre;
   }
   /* placeholder de espacios en blanco */
   input[type="date"]::before{
    content: attr(placeholder) "                                                                        ";
   }
   /* Cuando se enfoca que no esten los espacios en blanco */
   input[type="date"]:focus::before {
      content: "" !important;
   }
   
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    }

    input[type=number] { -moz-appearance:textfield; }

    .modal_img{
       display: inline-block;
       position: relative;
    }

    .modal_img.active{
       position: fixed !important; 
       width: 100%;
       height: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
       top: 0;
       left: 0;
    }

    .modal_img img{
       z-index: 1;
    }
    .modal_img.active::after{
       content: '' !important;
       position: fixed !important; 
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
       background-color: rgba(0, 0,0,0.8);
       z-index: 0;
    }